table, th, td {  
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 7px;
    }
    
    h1{
        background-color: rgb(13, 62, 153);
        color: white;
    }
    
    th {
    background-color: rgb(217, 255, 255);
    } 
     
    .order {
    color: red;
        font-weight: bolder;
        font-style: italic;
    }